{% load adminmedia sekizai_tags %}
{% addtoblock "js" %}<script type="text/javascript" src="{% admin_media_prefix %}js/jquery.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{% admin_media_prefix %}filer_gallery/orbit/orbit-1.2.3.js"></script>{% endaddtoblock %}
{% addtoblock "css %}<script type="text/javascript" src="{% admin_media_prefix %}filer_gallery/orbit/orbit-1.2.3.css"></script>{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}cmsplugin_filer_gallery/cmsplugin_filer_gallery.css" media="all" />{% endaddtoblock %}
{% addtoblock "js" %}
<script type="text/javascript">
//<![CDATA[
jQuery(document).ready(function ($) {
    $('#filer-gallery-{{ instance.pk }}').orbit();
});
//]]>
</script>
{% endaddtoblock %}
</script>
{% endaddtoblock %}

<div id="filer-gallery-{{ instance.pk }}">
     {% for image in instance.gallery.galleryimage_set.all %}
     <img src="{% thumbnail image.image 300x200 %}" alt="{{ image.title }}" />
     {% endfor %}
</div>